html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; }

.u-top-default {
  margin-top: 10rem; }

.u-top-big {
  margin-top: 20rem; }

.about__img-left, .main-page__img, .main-page__img::after {
  border-radius: 0 7rem 0 7rem; }

.home {
  background-image: linear-gradient(to right bottom, #023e8a, #14213d, #000000); }

.project__aspect-ratio {
  background-repeat: no-repeat;
  padding-top: calc(1 / 1.5 * 100%); }

@media (max-width: 575px) {
  .main-page .row {
    display: flex;
    flex-direction: column-reverse; }
  .main-page__column, .main-page__img {
    height: 30rem; }
  .main-page__column--1 {
    position: relative; }
  .hero {
    position: absolute;
    top: 65%; }
    .hero__text--1 {
      font-size: 4rem; }
    .hero__text--2 {
      font-size: 1.5rem; } }

@media (min-width: 576px) {
  .main-page__column, .main-page__img {
    height: 40rem; }
  .hero {
    position: relative; }
    .hero__text--1 {
      font-size: 6rem; }
    .hero__text--2 {
      font-size: 2rem; } }

@media (max-width: 992px) {
  .about__card {
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%); } }

@media (min-width: 992px) {
  .hero {
    position: absolute; }
    .hero::after {
      content: "";
      background-color: #fb8500;
      width: 1%;
      height: 90%;
      position: absolute;
      top: 2rem;
      left: -3px;
      z-index: -1; }
  .about__card {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  font-size: 4rem; }

h6 {
  font-size: 1.5rem; }

.nav__nav-link {
  font-size: 1.5rem;
  color: white; }
  .nav__nav-link:hover {
    color: white;
    background-color: #fb8500; }

.dropdown-menu__dropdown-item {
  font-size: 1.5rem; }

.about__card {
  background-color: #fb8500;
  height: 50rem; }

.about__img-left {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(to right bottom, rgba(245, 244, 244, 0.3), rgba(251, 133, 0, 0.5)), url(../img/photo-about-1.jpg);
  background-position: center;
  box-shadow: 1rem 2rem 2rem rgba(2, 62, 138, 0.2);
  transform: translateY(10%);
  background-repeat: no-repeat; }

.about__text-right {
  padding: 0 8rem;
  background-image: linear-gradient(to right, #023e8a, #14213d, #000000);
  -webkit-background-clip: text;
  color: transparent; }

.project {
  background-image: linear-gradient(to right bottom, #fb8500, #fb4700); }
  .project__aspect-ratio {
    transition: all .3s; }
    .project__aspect-ratio--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(251, 71, 0, 0.2)), url(../img/appclone-1.PNG); }
    .project__aspect-ratio--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(251, 71, 0, 0.2)), url(../img/newsweek.PNG); }
    .project__aspect-ratio--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(251, 71, 0, 0.2)), url(../img/airbnb.PNG); }
  .project__text {
    padding-top: 10rem;
    padding-bottom: 5rem; }
  .project__title {
    font-size: 2rem;
    opacity: 0; }
  .project__link {
    text-decoration: none; }
  .project__link:hover .project__title {
    opacity: 1; }
  .project__link:hover .project__aspect-ratio {
    filter: blur(1px) brightness(90%); }

.home {
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }

.main-page__img {
  position: relative;
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(0, 180, 216, 0.4), rgba(2, 62, 138, 0.3)), url(../img/photome.jpg);
  background-size: cover; }
  .main-page__img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #fb8500;
    top: -5%;
    left: -5%; }

.hero__text {
  color: white; }

.hero__social-media a {
  color: white; }
  .hero__social-media a:hover {
    color: #fb8500; }

.u-top-default {
  margin-top: 10rem; }

.u-top-big {
  margin-top: 20rem; }

.about__img-left, .main-page__img, .main-page__img::after {
  border-radius: 0 7rem 0 7rem; }

.home {
  background-image: linear-gradient(to right bottom, #023e8a, #14213d, #000000); }

.project__aspect-ratio {
  background-repeat: no-repeat;
  padding-top: calc(1 / 1.5 * 100%); }
