
@media(max-width: 575px) {
    .main-page {
        .row {
            display: flex;
            flex-direction: column-reverse;
          
        }
        &__column,
        &__img {
            height: 30rem;
        }
    
        &__column--1 {
            position: relative;
        }
    }


    .hero {
        position: absolute;
        top: 60%;

        &__text {

            &--1{
            font-size: $font-big;
           }
        
           &--2 {
            font-size: $default-font-size;
           }
    }
}
}



@media(min-width: 576px) {
    .main-page {
        
        &__column,
        &__img {
            height: 40rem;
        }
        
    }

    .hero {
        position: relative;
        &__text {
          &--1 {
              font-size: $font-huge;
          }

          &--2 {
              font-size: $font-medium;
          }
        }

    }
}

@media (max-width: 720px) {
  .contact {
      &__column--right {
          padding-top: 15rem;
      }
  }
}

@media (max-width: 992px) {
    .about {
        &__card{
            clip-path: polygon( 0 0, 100% 30%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon( 0 0, 100% 30%, 100% 100%, 0 100%);
        }
    }
    

}



@media (min-width:992px) {
    .hero {
        position:absolute;
            
        &::after {
            content: "";
            background-color: $color-contrast;
            width: 1%;
            height: 92%;
            position: absolute;
            top:2rem;
            left:3rem;
            z-index:-1;
        }
    }
    .about {
        &__card{
            clip-path: polygon( 0 0, 100% 15%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon( 0 0, 100% 15%, 100% 100%, 0 100%);
        }
    }
}
