@media(min-width: 576px) {
    .main-page {
        
        &__column,
        &__img {
            height: 40rem;
        }
        
    }

    .hero {
        position: relative;
        &__text {
          &--1 {
              font-size: $font-huge;
          }

          &--2 {
              font-size: $font-medium;
          }
        }

    }
}

@media(max-width: 575px) {
    .main-page {
        .row {
            display: flex;
            flex-direction: column-reverse;
          
        }
        &__column,
        &__img {
            height: 30rem;
        }
    
        &__column--1 {
            position: relative;
        }
    }


    .hero {
        position: absolute;
        top: 65%;

        &__text--1 {
            font-size: $font-big;

        
    }
}
}
@media (max-width: 991px) {
    .about {
        &__card{
            clip-path: polygon( 0 0, 100% 20%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon( 0 0, 100% 20%, 100% 100%, 0 100%);
            margin:0 auto;
        }

    }
    
}

@media (min-width:992px) {
    .hero {
        position:absolute;
            
        &::after {
            content: "";
            background-color: $color-contrast;
            width: 1%;
            height: 100%;
            position: absolute;
            top:0;
            left:-3px;
            z-index:-1;
        }
    }
    .about {
        &__card{
            clip-path: polygon( 0 0, 100% 10%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon( 0 0, 100% 10%, 100% 100%, 0 100%);
        }
    }
}
