
.u-top-big{
    margin-top: 15rem;
}

%border-radius {
    border-radius: 0 7rem 0 7rem;
}

%background-gradient {
    background-image: linear-gradient(to right bottom, $color-fourth, $color-secondary, $color-primary);
}

%aspect-ratio {
    background-repeat: no-repeat;
    padding-top: $long-aspect-ratio-box;

}

%linear-color {
     background-image: linear-gradient(
      to right,
      $color-fourth,
      $color-secondary,
      $color-primary
    );
}