//COLOR
$color-primary: #000000;
$color-secondary: #14213d;
$color-third: #f5f4f4;
$color-fourth: #023e8a;
$color-fifth: #00b4d8;
$font-white: white;

$color-contrast: #fb8500;
$color-contrast-orange: #fb4700;

//FONT SIZE

$default-font-size: 1.5rem;
$font-big: 4rem;
$font-huge: 6rem;
$font-medium: 2rem;
$font-medium-1: 3rem;



//ASPECT RATIO BOX
$long-aspect-ratio-box : calc(1 / 1.5 * 100%);
