.about {
  margin-top: -20rem;
  &__card {
    background-color: $color-contrast;
    height: 80rem;
    border: 0 7rem 0 0;
  }

  &__img-left {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-third, 0.2),
        rgba($color-contrast, 0.2)
      ),
      url(../img/photo_2.jpg);
    background-position: left;
    @extend %border-radius;
    box-shadow: 1rem 2rem 2rem rgba($color-fourth, 0.2);
    transform: translateY(10%);
    background-repeat: no-repeat;
  }

  &__text-right {
    padding: 0 8rem;
    @extend %linear-color;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text-left {
    font-size: var(--font-huge-default);
  }
}
