.nav{
    &__nav-link {
        font-size: $default-font-size;
        color: $font-white;

        &:hover {
            color: $font-white;
            background-color: $color-contrast;

        }
    }
}

.dropdown-menu {
    &__dropdown-item {
        font-size: $default-font-size;
    }
}