.project {
  background-image: linear-gradient(
    to right,
    $color-contrast,
    $color-contrast-orange
  );

  &__aspect-ratio {
    transition: all 0.3s;
    @extend %aspect-ratio;
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/appclone-1.PNG);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/newsweek.PNG);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/airbnb.PNG);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/art_1.PNG);
    }

    &--5 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/art_2.jpg);
    }

    &--6 {
      background-image: linear-gradient(
          to right bottom,
          rgba($font-white, 0.2),
          rgba($color-contrast-orange, 0.2)
        ),
        url(../img/photo_4.jpg);
    }
  }

  &__text {
    font-size: var(--font-huge-default);
    padding-top: 8rem;
  }

  &__link {
    text-decoration: none;
  }

  &__link:hover &__aspect-ratio {
    filter: blur(1px) brightness(90%);
  }

  &__title {
    font-size: $font-big;
  }
  &__details {
    font-size: $font-medium;
  }
}
